
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


main{
    color: pink;
}

.ContactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    padding-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    /* background-color: thistle; */
    color: pink;
    
}
.ContactForm h1{
    font-size: 40px;
    padding: 30px;
}

.form{
    padding: 15px;
    margin: 15px;
    /* background-color: #DDDDDD; */
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.form input{
    background: transparent;
    border: none;
    border-bottom: 1px solid palevioletred;
}
.form input[type = 'submit']{
    border: yellow;
}
/* Removes input border when clicked on/when active*/
.form textarea:focus, input:focus{
    outline: none;
}

/* submit form stand out */
.form input[type = 'submit']{
    border: 0.2px solid palevioletred;
    background-color: pink;
    color: white;
    padding: 10px;
    margin: 50px;
}


.Header{
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: right;
    text-align: center;
    padding-top: 50px;
    margin-inline: 50px;
    display: flex;
    

    padding: 20px;
}

.Header a{
    text-decoration: none;
    color: pink;
    padding: 10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: right;
    justify-items: right;
    
    padding: 20px;
}
.header a{
    text-decoration: none;
    color: pink;
    padding: 10px;
}

.hero{
    min-height: 100vh;
    background-image: url(img/rod-long-2P_ifaetDm0-unsplash.jpg);
    background-size: cover;
}


.heroContent{
    display: flex;
    flex-direction: column;
    align-content:  space-between;
    align-items:center;
    justify-items: center;
    justify-content: center;
    padding-top: 300px;
    font-size: 50px;

    padding-bottom: 350px;
    
    
}
.heroContent h1{
    padding-bottom: 15px;
    
}

.homeBtn{
display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid palevioletred;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    background-color: transparent;
    text-align: center;
    transition: all 0.15s;

}

.homeBtn:hover{
    color: #DDDDDD;
    border-color: #DDDDDD;
}
.homeBtn a{
    text-decoration: none;
    color: inherit;
}

.homeAboutMe{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: palevioletred;

}
.homeAboutMe h1{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.homeServices{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: peachpuff;
    color: palevioletred;
}


.aboutMe{
    padding-top: 30px;
}

.aboutMe img{
    width: 100%;
    height: 100%;
    object-fit: scale-fill;

    
}

.homeProjects{
    padding: 200px;
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url(img/clay-banks-R4Kz9SNajR8-unsplash.jpg);
    background-size: cover;
    background-position: 0%;
}

.projectsContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}



.footer{
    padding: 150px;
    background-color: antiquewhite;
}
.parBigger{
    font-size: 25px;
}




